
body{
    background-image:url("images/background.jpeg");
}

#catdescr{
    font-family: 'Black Ops One', cursive;
    color: beige;
}
h1{
    font-family: 'Black Ops One', cursive;
    color: beige;
}

section .row img {
    width: 100%;
    height: 300px;
}

figcaption{
    font-family: 'Bree Serif', serif;
    color: beige;
}

#images{
    margin-top: 70px;
}

