
body{
    background-image:url("images/background.jpeg");
}

#catdescr{
    font-family: 'Black Ops One', cursive;
    color: beige;
}
h1{
    font-family: 'Black Ops One', cursive;
    color: beige;
}

section .row img {
    width: 100%;
    height: 300px;
}

figcaption{
    font-family: 'Bree Serif', serif;
    color: beige;
}

#images{
    margin-top: 70px;
    display: none;
}

#title2{
    font-family: 'Fjalla One', sans-serif;
    color:beige;
}

.jumbotron{
    background-color: rgb(42, 77, 77);
}

#clicker2{
    background-color:rgb(74, 102, 102) ;
    font-weight: 500;
}
#fade2{
    display: none;
}
#cathistory{
    background-color:rgb(74, 102, 102) ;
    font-weight: 500;
}
#adoptingcats{
    background-color:rgb(74, 102, 102) ;
    font-weight: 500;
}
#interestingfacts{
    background-color:rgb(74, 102, 102) ;
    font-weight: 500;
}